# compiled object files
*.slo
*.lo
*.o

# compiled synamic libraries
*.so

# compiled static libraries
*.lai
*.la
*.a

# temp files of ...
# gedit
*~

# ignore network dependent config
include/csg_file_ethz.h

lib/*

# misc
.DS_Store
.cproject
.project


