# compiled Object files
*.slo
*.lo
*.o

# compiled Dynamic libraries
*.so

# compiled Static libraries
*.lai
*.la
*.a

# temp files of ...
# gedit
*~

# ignore network dependent config
include/csg_file_ethz.h

# misc
.DS_Store
lib/*
.cproject
.project


